{% extends 'clubs/base.html' %}
{% block content %}
  <h2>Head Admin Dashboard</h2>
<a class="btn btn-warning mb-3" href="{% url 'clubs:change_head_admin' %}">
    Change Head Admin
</a>
<hr>
<h3>Manage Clubs</h3>
  <a class="btn btn-success mb-3" href="{% url 'clubs:create_club' %}">Add Club</a>
  <table class="table table-striped">
    <thead><tr><th>Club</th><th>Admin</th><th>Admin Change</th><th>Actions</th></tr></thead>
    <tbody>
      {% for club in clubs %}
      <tr>
        <td>{{ club.name }}</td>
        <td>{% if club.club_admin %}{{ club.club_admin.username }}{% else %}-{% endif %}</td>
        <td><a class="btn btn-sm btn-warning" href="{% url 'clubs:change_club_admin' club.slug %}">
    Change Club Admin
</a></td>
        <td>
          <a class="btn btn-sm btn-primary" href="{% url 'clubs:modify_club' club.slug %}">Modify</a>
          <a class="btn btn-sm btn-danger" href="{% url 'clubs:delete_club' club.slug %}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<hr>

  <!-- User Management Section -->
  <h3>Manage Users</h3>
  <a class="btn btn-success mb-3" href="{% url 'clubs:add_user' %}">Add User</a>
  <table class="table table-striped">
    <thead><tr><th>Username</th><th>Email</th><th>Actions</th></tr></thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>
          <a class="btn btn-sm btn-warning" href="{% url 'clubs:edit_user' user.id %}">Edit</a>
          <a class="btn btn-sm btn-danger" href="{% url 'clubs:delete_user' user.id %}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<hr>

  <h2>Manage Club Members</h2>
  <!-- Club members Management Section -->


   <a class="btn btn-success mb-3" href="{% url 'clubs:add_member_head' %}">Add Member</a><br>

  <table class="table table-striped">
    <thead><tr><th>Name</th><th>Role</th><th>Email</th><th>Club</th><th>Actions</th></tr></thead>
    <tbody>
      {% for m in members %}
      <tr>
        <td>{{ m.full_name }}</td>
        <td>{{ m.role }}</td>
        <td>{{ m.email }}</td>
        <td>{{m.club}}</td>
        <td>
          <a class="btn btn-sm btn-warning" href="{% url 'clubs:modify_member' m.pk %}">Edit</a>
          <a class="btn btn-sm btn-danger" href="{% url 'clubs:delete_member' m.pk %}">Delete</a>
        </td>
      </tr>
      {% empty %}
      <tr><td colspan="4">No members yet.</td></tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}